In [1]:
name="sandeep"

In [2]:
name

'sandeep'

In [3]:
name = 10
name

10

In [4]:
type(name)

int

In [5]:
hex((name))

'0xa'

In [6]:
id(name)

32199440

In [7]:
hex(id(name))

'0x1eb5310'

In [8]:
name = "sandeep"
name

'sandeep'

In [9]:
id(name)

140681923882752

In [10]:
hex(id(name))

'0x7ff310196f00'

In [11]:
name="sandeep"

In [12]:
name

'sandeep'

In [16]:
name="sandeep\nkumar\nmahto"
name

'sandeep\nkumar\nmahto'

In [17]:
print(name)

sandeep
kumar
mahto

name = r"sandeep\nkumar\nmahto"

In [19]:
name = r"sandeep\nkumar\nmahto"

In [20]:
print(name)

sandeep\nkumar\nmahto

In [21]:
name = "sandeep kumar mahto"
name

'sandeep kumar mahto'

In [23]:
name[0:7]

'sandeep'

In [24]:
name[0:10:2]

'snepk'

In [25]:
name.find("meenakshi")

-1

In [26]:
name.find("mah")

14

In [30]:
name.split(" ")[2]

'mahto'

In [34]:
name

'sandeep kumar mahto'

In [37]:
name.replace("sandeep", "meenakshi")

'meenakshi kumar mahto'

In [38]:
myTuple = tuple(["sandeep", "meenakshi", 25, 26])

In [39]:
myTuple

('sandeep', 'meenakshi', 25, 26)

In [40]:
love, lover, age_love, age_lover = myTuple
love

'sandeep'

In [41]:
lover

'meenakshi'

In [42]:
age_love

25

In [43]:
age_lover

26

In [44]:
details = {}

In [45]:
details = {'name': 'sandeep', 'age': 26, 'hobby': 'hacking'}
details

{'age': 26, 'hobby': 'hacking', 'name': 'sandeep'}

In [50]:
details.viewitems()

dict_items([('hobby', 'hacking'), ('age', 26), ('name', 'sandeep')])

In [52]:
details.values()

['hacking', 26, 'sandeep']

In [53]:
num = 0
while num < 10:
    print("The first iteration of the given number is %d") % num
    num += 1
else:
    print("The while loop statement returns false statement")

The first iteration of the given number is 0
The first iteration of the given number is 1
The first iteration of the given number is 2
The first iteration of the given number is 3
The first iteration of the given number is 4
The first iteration of the given number is 5
The first iteration of the given number is 6
The first iteration of the given number is 7
The first iteration of the given number is 8
The first iteration of the given number is 9
The while loop statement returns false statement

In [54]:
num = 0
for i in range(10):
    print("The first iteration of the number inside for loop is %d") % i
else:
    print("The iteration inside the for loop has ended")

The first iteration of the number inside for loop is 0
The first iteration of the number inside for loop is 1
The first iteration of the number inside for loop is 2
The first iteration of the number inside for loop is 3
The first iteration of the number inside for loop is 4
The first iteration of the number inside for loop is 5
The first iteration of the number inside for loop is 6
The first iteration of the number inside for loop is 7
The first iteration of the number inside for loop is 8
The first iteration of the number inside for loop is 9
The iteration inside the for loop has ended

In [55]:
for (x,y) in [('sandeep', 26), ('meenakshi', 24)]:
    print("name = %s and age = %d") %(x,y)

name = sandeep and age = 26
name = meenakshi and age = 24

In [56]:
brother_list = ['firo', 'sandeep', 'mohan', 'sohan']
for brother in brother_list:
    print("The name of the sibling are %s") % brother

The name of the sibling are firo
The name of the sibling are sandeep
The name of the sibling are mohan
The name of the sibling are sohan

In [59]:
for i in range(1,20,3):
    print i

1
4
7
10
13
16
19

In [ ]:
print "hello world"